/***************************{CSS Reset}*****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; margin: 0; padding: 0; vertical-align: baseline; font-size: 100%; font: inherit; -webkit-text-size-adjust: none; }
body { line-height: 1; }
table { border-collapse: collapse; border-spacing: 0; }
object, :focus { outline: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section /* HTML 5 */ { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
input,button,textarea,select,optgroup,option{ font-size: 100%; font: inherit; }
li { list-style: none; }
/***************************{Common CSS Class}*****************************/





body{
	overflow-x:hidden;
	overflow-y:auto;
}
header{
	background:#17A4BD;
	padding:4px;
	height:36px
}
header:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
header a.back-btn{
	background:url(../img/header.png) no-repeat -2px 0px;
	display:block;
	height:40px;
	width:27px;
	float:left;
	background-size:250px
}
header span{
	background:url(../img/sprites.png) no-repeat 40px -68px;
	display:block;
	margin:0 auto;
	margin-top:10px;
	height:40px;
	width:60px;
	font:18px bold arial;
	color:#fff
}
header a#map{
	background:url(../img/sprites.png) no-repeat  5px -171px;
	display:block;
	width:35px;
	float:right;
	text-decoration:none;
	color:#fff;
	font:12px bold "simhei";
	padding-top:21px;
	text-align:center;
	background-size:35px
}
.search-box{
	background:#17A4BD;
	padding:4px 3px 5px 2px;
	border-top:1px solid #117A8C;
	border-bottom:1px solid #117A8C;
	height:30px;
	display: -moz-box;  /* Firefox */ 
	display: -ms-flexbox;    /* IE10 */ 
    display: -webkit-box;    /* Safari */  
	display: -webkit-flex;    /* Chrome, WebKit */ 
	display: box;  
	display: flexbox;  
	display: flex;
}
.search-box:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
.search-box input{
	float:left;
	background-color:#fff;
	background-image:url(../img/sprites.png);
	background-repeat:no-repeat;
	background-position: -3px -402px;
	background-size:40px;
	height:30px;
	font:14px bold "microsoft yahei";
	border:none;
	line-height:normal;
	text-indent:40px;
	color:#A9A9A9;
	flex:1;	
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}
.search-box .date-acmd{
	background-color:#fff;
	background-image:url(../img/sprites.png);
	background-repeat:no-repeat;
	background-position: 50px 12px;
	background-size: 30px;
	height:30px;
	padding:0px 14px 2px 8px;
	margin-left:3px
}
.search-box .date-acmd p{
	font:12px bold "microsoft yahei";
	color:#17A4BD
}
.main-ctt{
	overflow:hidden
}
.main-ctt .filtrate{
	width: 100%;
	background:#F7F7F7;
	padding:0px 2px;
	text-align:center;
	display:-moz-box;
	display:-webkit-box;
	display:box;
	font-size:0;
	text-align:center;
	border-bottom:1px solid #CACACA
}
.main-ctt .filtrate li{
	font:12px bold arial;
	height:36px;
	line-height:36px;
	text-align:center;
	vertical-align:middle
}
.main-ctt .filtrate li img{
	height:16px;
	width:16px;
	margin-right:5px;
	margin-top:10px;
	vertical-align:top
}
li.hr_li{
	text-indent:0px;
	-moz-box-flex:0.1;
	-webkit-box-flex:0.1;
	box-flex:0.1;
	color:#cacaca
}
.main-ctt .filtrate li.recommend{
	-moz-box-flex:1.0;
	-webkit-box-flex:1.0;
	box-flex:1.0
}
.main-ctt .filtrate li.price{
	-moz-box-flex:1.0;
	-webkit-box-flex:1.0;
	box-flex:1.0
}
.main-ctt .filtrate li.synthetical{
	-moz-box-flex:1.0;
	-webkit-box-flex:1.0;
	box-flex:1.0
}
.main-ctt section{
	position:relative;
	border-bottom:1px solid #CACACA;
	padding:5px 5px 8px 5px;
	width:100%
}
.main-ctt img{
	width:60px;
	height:60px;
	vertical-align:middle
}
.main-ctt section:nth-child(2n-1){
	background:#F7F7F7
}
.main-ctt .ctt-right{
	display:inline-block;
	vertical-align:middle
}
.main-ctt .ctt-right h1{
	font:14px bold arial;
	line-height:170%
}
.main-ctt .ctt-right p{
	font:12px bold arial;
	color:#8C8C8C;
	line-height:150%
}
.main-ctt .ctt-right p.tuan{
	background: url(../img/tuan.png) no-repeat ;
	background-size:21px;
	text-indent:25px
}
.main-ctt section p{
	font-size:18px;
	font-family:arial;
	color:#FF6600
}
.main-ctt section p::first-letter{
	font-size:14px
}
.main-ctt section p span{
	font:12px bold arial;
	color:#8C8C8C
}
.main-ctt section a{
	background:url(../img/arrow_grey.png) no-repeat -10px 0px;
	background-size:50px;
	display:inline-block;
	width:10px;
	height:15px;
	margin-top:20px;
	margin-left:5px;
}
.main-ctt section .qn_price{
	position:absolute;
	right:0px;
	top:50%;
	width:100px;
	height:30px;
	margin-top:-26px;
	font:12px bold arial
}
.bottom-btn{
	height:42px;
	background:#fff;
	text-align:center;
	line-height:42px;
	font-size:16px;
	border-bottom:1px solid #cacaca
}
.bottom-btn .more{
	width:70%;
	float:left;
	border-right:1px solid #cacaca;
	margin-left:-1px;
	background:-webkit-gradient(linear,0% 30%,0% 100%,from(#fefefe),to(#e0e0e0))
}
.bottom-btn .go-top{
	width:30%;
	float:left;
	background:-webkit-gradient(linear,0% 30%,0% 100%,from(#fefefe),to(#e0e0e0))
}
.bottom-btn .go-top span{
	position:relative;
	display:inline-block;
	margin-left:-12px
}
.go-top span::after{
	content:' ';
	display:block;
	position:absolute;
	top:16px;
	right:-15px;
	width:0;
	height:0;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:8px solid black
}
.footer{
	background:#F3F3F3
}
.f-nav{
	font-size:0;
	position:relative;
	height:25px;
	text-align:center;
	padding:10px 10px 0 10px;
	overflow:hidden;
	background:#F3F3F3
}
.f-nav li{
	margin:0px;
	padding-left:10px;
	height:31px;
	width:60px;
	display:inline-block;
	position:relative
}
.f-nav li .icon{
	background:url(../img/footer.png);
	float:left;
	width:22px;
	height:22px;
	background-size:150px
}
.f-nav li.flight-i .icon{
	background-position:0 0
}
.f-nav li.hotel-i .icon{
	background-position:-25px 0
}
.f-nav li.tuan-i .icon{
	background-position:-50px 0
}
.f-nav li span{
	position:relative;
	display:inline-block;
	color:#9e9e9e;
	margin:3px 0 0 0px;
	padding-bottom:2px;
	font-size:12px
}
.f-nav li.f-more-i span::after{
	content:' ';
	position:absolute;
	top:0px;
	left:-20px;
	width:12px;
	height:12px;
	background:url(../img/sprites.png) 0 -65px no-repeat;
	background-size:  33px
}
.link-nav{
	width:100%;
	height:39px;
	border-bottom:1px solid #cacaca
}
.link-nav li{
	display:inline-block;
	padding-left:20px
}
.link-nav li a{
	color:#25a4bb;
	font-size:14px;
	line-height:39px;
	text-decoration:none
}
.mobile_pc{
	padding:10px 0 0 0;
	text-align:center
}
.mobile_pc li{
	display:inline-block;
	margin:0 15px
}
.mobile_pc li a{
	color:#000;
	font-size:14px;
	text-decoration:none
}
.mobile_pc li a.active{
	color:#25a4bb;
	font-size:14px;
	text-decoration:none
}
.copyright{
	color:#9e9e9e;
	text-align:center;
	font-size:14px;
	padding:10px
}
.copyright a{
	color:#9e9e9e;
	height:33px;
	text-decoration:none
}
#sch-page,#city-page,#hotel-page{
	background:#fff;
	position:absolute;
	top:0;
	max-height:200px;
	min-height:600px;
	right:2000px;
	width:100%;
	transition:right 1s;
	-moz-transition:right 1s;
	-webkit-transition:right 1s;
	-o-transition:right 1s;
	overflow:hidden
}
#city-page.showin,#sch-page.showin,#hotel-page.showin{
	max-height:1800px;
	right:0
}
#sch-page header span,#city-page header span,#hotel-page header span{
	background:none;
	width:80px
}
#sch-page .search-box,#city-page .search-box{
	position:relative
}
#sch-page .search-box img,#city-page .search-box img{
	position:absolute;
	right:7px;
	bottom:4px;
	height:30px;
	width:30px
}
.sch-tab,.city-tab{
	display:-webkit-box;
	display:-ms-flexbox;
	display:-moz-box;
	display:flex;
	height:41px;
	-ms-flex-direction:row;
	background:#f3f3f3
}
.sch-tab .hr_li{
	background:#f3f3f3;
	text-align:center;
	vertical-align:middle;
	border-right:1px solid #cacaca;
	height:35px;
	margin-top:2px
}
.city-tab .hr_li{
	background:#f3f3f3;
	text-align:center;
	vertical-align:middle;
	border-right:1px solid #cacaca;
	height:100%
}
.tab_title{
	flex:1;	
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	font-size:16px;
	line-height:40px;
	text-align:center;
	background:#f3f3f3;
	color:#8c8c8c;
	border-bottom:1px solid #cacaca;
	white-space:nowrap
}
.tab_title.active{
	border-bottom:1px solid #10DAE2;
	color:#25a4bb
}
#city-page .tab_title.active{
	color:#25a4bb;
	background:#fff;
	border-bottom:1px solid #fff
}
.recommend-h li,.history li{
	color:#8c8c8c;
	background:#fff;
	border-bottom:1px solid #ddd;
	height:27px;
	padding:5px 10px;
	font-size:14px;
	line-height:27px
}
.history{
	display:none
}
.history li.clear_sch{
	color:#25a4bb;
	text-align:center;
	border-bottom:none
}
.hot-city{
	display:none
}
.hot-city dt,.inner-city dt{
	font-family:arial;
	padding:3.5px 10px;
	border-bottom:1px solid #cacaca;
	color:#999;
	font-size:14px;
	background:#f3f3f3
}
.hot-city dd,.inner-city dd{
	font-family:arial;
	height:27px;
	padding:5px 10px;
	font-size:16px;
	line-height:27px;
	background-color:#fff;
	border-bottom:1px solid #cacaca;
	overflow:hidden;
	position:relative
}
.for-arrow::after{
	content:' ';
	position:absolute;
	top:50%;
	right:8px;
	background:url(../img/arrow_grey.png) -24px 0 no-repeat;
	width:14px;
	height:9px;
	margin-top:-4px;
	background-size: 35px;
}
.for-arrow.on::after{
	content:' ';
	position:absolute;
	top:50%;
	right:8px;
	background:url(../img/arrow_grey.png) -13px 0 no-repeat;
	width:12px;
	height:9px;
	margin-top:-4px;
	background-size: 35px;
}
.hot-city ul.pull-info,.inner-city ul.pull-info{
	display:none
}
.hot-city ul.pull-info li,.inner-city ul.pull-info li{
	height:27px;
	padding:5px 10px;
	font-size:14px;
	line-height:27px;
	border-bottom:1px solid #adadad;
	background:#f0f0f0
}
.hot-city li{
	height:27px;
	padding:5px 10px;
	font-size:14px;
	line-height:27px;
	border-bottom:1px solid #adadad;
	background:#f0f0f0
}
.inner-city .location{
	padding-left:30px;
	background-image:url(../img/sprites.png);
	background-color:#fff;
	background-position: 10px -606px;
	background-repeat:no-repeat
}
#index-ctt{
	position:relative;
	min-height:800px
}
#index-ctt label{
	line-height:40px
}
#hotel-info{
	position:absolute;
	height:100%
}
.index-title{
	min-height:379px;
	height:100%;
	background:rgb(243,243,243);
	min-width:111px;
	width:120px
}
.index-title li{
	padding-left:20px;
	border-right:1px solid #ddd;
	background:#f3f3f3;
	border-bottom:1px solid #cacaca;
	line-height:45px
}
.index-title li.focus{
	border-right:none;
	background-color:#fff;
	background-size:50%
}
#hotelBrand,#hotelType,#condition{
	display:none
}
.item{
	margin-left:130px
}
.hotel-btns{
	background:url(../img/btn-back.png);
	bottom:0px;
	position:fixed;
	width:300px;
	margin:0px auto;
	z-index:100;
	padding:10px
}
.hotel-btns .reset{
	display:inline-block;
	float:left;
	width:35px;
	padding:10px 25px;
	line-height:1;
	border:1px solid #ccc;
	background:-webkit-linear-gradient(top,#fefefe 0,#e0e0e0 100%)
}
.hotel-btns .confirm{
	display:block;
	margin:0 10px 0 100px;
	padding:10px 0;
	width:65%;
	background-color:#ff9036;
	color:#fff;
	text-align:center;
	background:-webkit-linear-gradient(top,#ffa442 0,#ff801a 100%)
}
#sel-back{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.6;
	display:none
}
#order-sel,#price-sel{
	position:fixed;
	bottom:2000px;
	left:0;
	width:100%;
	text-align:center;
	z-index:200;
	transition:bottom 1s;
	-moz-transition:bottom 1s;
	-webkit-transition:bottom 1s;
	-o-transition:bottom 1s
}
#order-sel.showin,#price-sel.showin{
	bottom:0
}
ul.selbtn,ul.selgrid{
	background:#bababa;
	display: -moz-box;  /* Firefox */ 
	display: -ms-flexbox;    /* IE10 */ 
    display: -webkit-box;    /* Safari */  
	display: -webkit-flex;    /* Chrome, WebKit */ 
	display: box;  
	display: flexbox;  
	display: flex;
	height:40px;
	line-height:40px
}
ul.selgrid{
	background:#fff
}
.selbtn li,.selgrid li{
	flex:1;	
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	font-size:20px;
	color:#fff
}
ul.sel-ctt{
	background:#fff;
	padding-top:70px
}
#order-sel ul.sel-ctt li{
	height:36px;
	line-height:36px;
	text-align:center;
	color:#a6a6a6
}
ul.sel-ctt li.ac,#price-sel ul.ac{
	border-top:1px solid #a6a6a6;
	border-bottom:1px solid #a6a6a6;
	font-weight:bold;
	color:#000
}
#price-sel{
	text-align:center
}
#price-sel ul.sel-ctt li{
	height:36px;
	line-height:36px;
	text-align:center;
	color:#a6a6a6
}
#price-sel ul.ac li{
	color:#000
}
