/**
 * Created by xuzichao on 2015/7/29.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

:focus {
    outline: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

.clearfix:before, .section:before, .nav ul:before {
    content: "";
    display: table
}

.clearfix:after, .section:after, .nav ul:after {
    content: "";
    display: table;
    clear: both
}

input {
    -webkit-appearance: none;
    border-radius: 0
}

a {
    color: #2094c4;
    text-decoration: none;
    outline: none
}
.coming {
    opacity: 0.3;
    filter:alpha(opacity=30);
}
a:hover {
    color: #3498db
}

strong {
    font-weight: bold
}

body {
    color: #343a41;
    width: 100%;
    height: 100%;
    font: normal 14px/1.4 "helvetica neue", tahoma, "hiragino sans gb", stheiti, "wenquanyi micro hei", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}

.left {
    float: left
}

.right {
    float: right
}

.marginCenter{
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
}

.displayNone {
    display: none !important;
}
.backNone {
    background: none !important;
}

/*顶部导航*/
.nav_bar {
    background-color: #ffffff;
    width: 100%;
    height: 70px;
}
.nav_bar_content {
    padding: 5px 0px;
    overflow: hidden;
}
.nav_bar_list {
    width: 800px;
    text-align: right;
}
.nav_bar_list ul {
    position: relative;
}
.nav_bar_list ul li {
    display: inline-block;
    _zoom:1;
    *display:inline;
    margin-left: 40px;
    line-height: 60px;
}
.nav_bar_list ul li a{
    font-size: 16px ;
    color: #444;
}
.nav_bar_list ul li a.active{
    color: #108163;
}
.nav_bar_list ul li a:hover{
    color: #108163;
}
.tel{
    vertical-align: middle;
}
.tel span{
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    display: block;
    background: url("../img/base.png") no-repeat 0 -727px;
    width: 178px;
    height: 60px;

}

.logo {
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    display: block;
    background: url("../img/base.png") no-repeat 0 -787px;
    width: 178px;
    height: 60px;
}


/*产品联系方式APP*/
.prdPage {
    background:#ffffff;
    width: 100%;
    overflow: hidden;
}
.prdPage .marginCenter {
    padding: 70px 0;
}
.prdPage .logo{
    background: url("../img/base.png") no-repeat 0 -630px;
}
.prdPage .tel span{
    height: 40px;
    background: url("../img/base.png") no-repeat 0 -685px;
}

.contact,.quickChannel,.app,.weixin {
    float: left;
}
.contact {
    padding: 0 70px;
    border-right: 1px solid #E3E4DF;
}
.contact p {
    line-height: 150%;
}
.quickChannel {
    padding: 0 80px;
}
.quickChannel h3,.app h3,.weixin h3{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 15px;
}
.quickChannel li{
    padding-bottom: 15px;
}
.quickChannel li a {
    color: #343a41;
}
.app {
    padding-right: 80px ;
}
.app li,.weixin li{
    float: left;
    margin-right: 20px;
}
.app li img,.weixin li img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

/*footer*/
.license {
    background: #333A42;
    width: 100%;
    height: 70px ;
    text-align: center;
    color: #83878A;
    line-height: 70px;
    letter-spacing: 1px;
}

/*join*/
.successBox {
    background: #ffffff;
    height: 100px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    display: none;
}
.joinBack {
    background: #000000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.joinBox {
    background: #ffffff;
    height: 500px;
    width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: none;
}
.close {
    background: url("../img/base.png") no-repeat;
    display: block;
    width: 22px;
    height: 22px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    margin: 15px 15px 0 0;
    transition:All 1s ease-in-out;
    -webkit-transition:All 1s ease-in-out;
    -moz-transition:All 1s ease-in-out;
    -o-transition:All 1s ease-in-out;
}

.close:hover {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}
.joinBox h1 {
    font-size: 20px ;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 50px;
}
.joinBox p {
    line-height: 300%;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.inputBox {
    display: block;
    height: 50px;
    width: 250px;
    border: 1px solid #BFBFBF;
    margin: 20px auto;
    color: #BFBFBF;
    text-indent: 20px;
    line-height: 50px;
}
.inputBox:focus {
    border: 1px solid #343a41;
    color: #343a41;
}
.submit {
    background: #108163;
    display: inline-block;
    _zoom: 1;
    height: 56px;
    width: 230px;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    line-height: 56px;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    color: #ffffff;
}
.submit:hover {
    color: #ffffff;
    background: #108963;
}

.footContact {
    background: #F7F7F7;
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    margin-top: 100px;
}
.footContact .footImg{
    margin: auto;
    height: 40px;
    background: url("../img/base.png") no-repeat 0 -685px;
    vertical-align: middle;
    opacity: 0.5;
    filter:alpha(opacity=50);
}



